 *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:hover {
  transition: 300ms;
}
body {
      background-color: #16171E; 
    color: #82F06A;
    font-family: 'VT323', monospace;
}
img, picture, svg, video  {
  display: block;
  max-width: 100%;
}
.hide {
  display: none;
}
section {
  max-width: 37.5em;
  min-height: 100vh;
  padding: 2em 1em 0;
  margin: 0 auto;
}
a {
  color: #82F06A;
  text-decoration: none;
}

a:hover,
a:focus {
transform: scale(1.2);
}
a i {
  padding: .25rem .1rem;
}
a i:hover,
a i:focus {
  background-color: #82F06A;
  color: #16171E;
}
h1 {
  font-size: clamp(2rem, 3.5vw, 2.5rem);
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: clamp(1.7rem, 3.5vw, 1.9rem);
}
h3 {
  font-size: clamp(1.2rem, 3.5vw, 1.5rem);
}
p {
  font-size: clamp(1.5rem, 2.5vw, 1.7rem);
}
#font-btn {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #82F06A;
  border: none;
  padding: .3em;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

#home {
  font-size: clamp(1.5rem, 3.5vw, 1.7rem);
  line-height: 1.1;
}

.bold {
  font-size: clamp(1.7rem, 3.5vw, 1.9rem);
  font-weight: 700;
  padding-bottom: 2em;
}
#intro::after {
  visibility: visible;
  content: '';
  background-color: #82F06A;
  display: inline-block;
  width: .5rem;
  height: 1rem;
  margin: .3 .1em 0;
  animation:blink-1 1.5s infinite both;
}
@keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}

.typed-cursor {
  display: none;
}

#start-button {
  color: #82F06A;
  cursor: pointer;
}

#start-button:hover,
#start-button:focus {
  color: #16171E;
  background-color: #82F06A;
}

.quiz-container h2 {
  padding-bottom: .6em;
  text-align: center;
}
#question-container {
  padding: 0 .5em;
  font-size: clamp(1.5rem, 2.5vw, 1.7rem);

}
#answer-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.answer-btn {
  padding: .5em;
  text-align: left;
  font-size: clamp(1.3rem, 2.5vw, 1.5rem);
  border: none;
}
.answer-btn, #restart-button {
  margin: 0.5em 0;
}
#restart-button {
  font-size: 1.3rem;
}
#results-container {
  margin-top: 1em;
  font-weight: 700;
  font-size: 1.5rem;
}
.correct {
  background-color: #82F06A;
}
.show-correct {
  outline: 2px solid #82F06A;
}
.incorrect {
  background-color: red;
}
.correct, .incorrect {
  color: #16171E;
  font-weight: 700;
}
#next-button {
  font-size: 2rem;
  margin-left: .7em;
}
#nav-btn {
  cursor: pointer;
}
#nav-btn img{
  max-width: 2rem;
}
#nav-menu {
  display: none;
  justify-content: space-evenly;
  position: absolute;
  min-width: 10em;
  background-color: #16171E;
  overflow: auto;
  bottom: 3.5em;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #16171E;
  padding: 1em;
}
footer a {
  color: #82F06A;
  text-decoration: none;
  font-size: clamp(1.5rem, 3.5vw, 1.7rem);
}

